*{
    box-sizing:content-box;
}
.container{
    width: 1424px;
    height: 680px;
    background-image: url(images/forest.jpeg) 
}
.topleft{
    position: absolute;
    top: 20px;
    left: 20px;   
}
.topleft a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.topright{
    position: absolute;
    top: 14px;
    right: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
}
ul li:hover a{
    color: violet;
}
.centered{
    width: 800px;
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h2{
    font-family:serif;
    font-size:28px;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.centered h1{
    font-size: 48px;
    font-family: serif;
    letter-spacing: 2px;
    margin: 11px 0 20px;

}
p{
    color:rgba(255, 255, 255, 0.979);
    line-height: 30px;
    font-family:fantasy;
    letter-spacing: 2px;
}
button{
    background-color:whitesmoke;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 20px;
    border: 3px solid;
    background-color:blanchedalmond;
}
button:hover{
    color: wheat;
    background-color:black;
}
.about{
    width: 1424px;
    height: 658px;
    /* background-color: aqua; */
    margin-top: 70px;
}
.habout{
    width: 100%;
    height: 167px;
    /* background-color: blue; */
    text-align: center;
}
.about h3{
    color: rgba(117, 209, 129, 0.993);
    font-size: 25px;
    margin-bottom: 8px;
    /* background-color: burlywood; */
}
.about h2{
    margin-top: 0px;
    /* background-color: brown; */
}
.about p{
    color: black;
    font-size: 15px;
    font-family: fantasy;
    line-height: 25px;
    margin-top: 30px;
    letter-spacing: 2px;
    /* background-color: chartreuse; */
}
img{
    position: absolute;
    left: 20vw;
}
.aboutus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.left{
    height: 450px;
    width: 50%;
    /* background-color: burlywood; */
}
.right{
    height: 450px;
    width: 50%;
    /* background-color:cadetblue; */
  
}
.demo{
    width: 90%;
    padding:0 40px;
    line-height: 20px; 
    position: relative;
    bottom: 20px;
    
}
.demo h3{
    color: rgba(117, 209, 129, 0.993);
    text-align: start;
}
.demo p{
    font-size:14px;
    font-family:fantasy;
    text-align: justify;
    letter-spacing: 1px;
}
.services{
    width: 1424px;
    height: 680px;
    background-image: url(images/b1.jpeg);
    margin-top: 90px;
}
.box{
    width: 1110px;
    height: 624px;
    /* background-color: yellowgreen; */
    padding: 48px 15px;
    margin: 0 150px;
    display: flex;
    flex-wrap: wrap;
   
}  
.boxleft{
    width: 50%;
    height:80px;
    /* background-color: violet; */
}
.box p{
    font-family:fantasy;
    text-align: right;
    font-size: 15px;
    padding-right:30px;
   }
.boxright{
    width: 50%;
    height:80px;
    /* background-color: tomato; */
}
.box h3{
    color: rgba(117, 209, 129, 0.993);
    /* background-color: black;  */
    font-size: 25px;
    margin: 3px;
    letter-spacing: 2px;
}
.box h2{
    height: 51px;
    font-size: 50px;
    /* background-color: green; */
    margin: 4px;
    color: white;
    letter-spacing: 2px;
}
.row{
display:flex;
flex-wrap: wrap;
margin-top: 40px;
}
.item{
    width: 350px;
    height: 230px;
    background-color:white;
    margin:10px;
    text-align: center;
    display: inline-block;
}
.icon{
    font-size: 40px;
    color: rgb(0, 0, 0);
    /* background-color:rgb(223, 41, 41); */
    padding: 30px;
}   
.planting h4{
    color:rgba(117, 209, 129, 0.993);;
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.planting p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.wildlife h4{
    color: rgba(117, 209, 129, 0.993);
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.wildlife p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.saveplant h4{
    color: rgba(117, 209, 129, 0.993);
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.saveplant p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.watering h4{
    color: rgba(117, 209, 129, 0.993);
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.watering p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.savetree h4{
    color: rgba(117, 209, 129, 0.993);
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}
.savetree p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.ecoplant h4{
    color: rgba(117, 209, 129, 0.993);
    font-size: 22px;
    font-family: serif;
    letter-spacing: 1px;
    margin: 0 0 10px 0;

}
.ecoplant p{
    color: black;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.gallery{
    width: 100%;
    height: 1294px;
    /* background-color: cadetblue; */
}
.contain1{
    width: 1110px;
    height: 1200px;
    /* background-color: coral; */
    margin:0 150px;
    padding: 48px 15px;
    display: flex;
    flex-wrap: wrap;
}
.contleft{
    width: 555px;
    height: 80px;
    text-align: end;
    /* background-color: crimson; */
    margin-top: 20px;
}
.contright{
    width: 555px;
    height: 80px;
    /* background-color: darkblue; */
    margin-top: 20px;
}
.contleft h6{
    font-size: 25px;
    /* background-color:black; */
    margin:3px;
    letter-spacing: 2px;
    color: rgba(117, 209, 129, 0.993);
    height: 25px;
}
.contleft h3{
    height: 50px;
    font-size: 40px;
    /* background-color: brown; */
    margin: 4px;
    line-height: 60px;
}
.contright p{
    /* background-color: indigo; */
    font-family:fantasy;
    text-align: left;
    font-size: 15px;
    padding-left:30px;
    color: black;
}
.galimage{
    width:100%;
    height: 1058px;
    /* background-color: aqua */
    display: flex;
    flex-wrap: wrap;

}
.galimgleft{
    width:50%;
    height: 1058px;
    /* background-color: blueviolet; */
}
.galimgright{
    width:49%;
    height: 1058px;
    /* background-color:chartreuse ; */
    margin-left: 1%;
}
.fleft{
    width: 540px;
    height: 405px;
    /* background-color:bisque; */
    margin: 10px 8px 18px;
    background-image: url(images/g1.jpeg);
}
.sleft{
    width: 540px;
    height: 200px;
    /* background-color:chocolate; */
    margin: 10px 8px 18px;
    display: flex;
    flex-wrap: wrap;
}
.fsleft{
    width:48%;
    height:200px;
    /* background-color: crimson; */
    margin-right: 4px;
    margin-left:5px ;
    background-image: url(images/g2.jpeg);
}
.ssleft{
    width: 48%;
    height:200px;
    /* background-color:darkturquoise; */
    margin-left: 4px;
    margin-right: 5px;
    background-image: url(images/g3.jpeg);
}
.tleft{
    width: 540px;
    height: 405px;
    /* background-color: cornflowerblue; */
    margin: 10px 8px 18px;
    background-image: url(images/g7.jpeg);
}
.frig{
    width: 540px;
    height: 328px;
    /* background-color: deeppink; */
    margin: 10px 2px 18px;
    display: flex;
    flex-wrap: wrap;
}
.fflrig{
    width:48% ;
    height: 328px;
    /* background-color:indigo; */
    margin-right: 4px;
    margin-left: 5px;
    background-image: url(images/g4.jpeg);
    background-repeat: no-repeat;
}
.sflrig{
    width:48% ;
    height: 328px;
    /* background-color:hotpink; */
    margin-left: 4px;
    margin-right: 5px;
    background-image: url(images/t3.jpeg);

}
.srig{
    width: 540px;
    height: 200px;
    /* background-color:chocolate; */
    margin: 10px 2px 18px;
    display: flex;
    flex-wrap: wrap;
}
.fslrig{
    width: 48%;
    height: 200px;
    /* background-color:dodgerblue; */
    margin-right: 4px;
    margin-left: 5px;
    background-image: url(images/g4.jpeg);
}
.sslrig{
    width: 48%;
    height: 200px;
    /* background-color:firebrick; */
    margin-left: 4px;
    margin-right: 5px;
    background-image: url(images/g5.jpeg);
   

}
.trig{
    width: 540px;
    height: 405px;
    /* background-color:dimgray; */
    margin: 10px 2px 18px;
    background-image: url(images/g6.jpeg);
}
.data{
    width: 1424px;
    height: 243px;
    background-color: #b1d474;
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.daitm{
    width: 350px;
    height: 100px;
    /* background-color: thistle; */
    padding: 72px 0;
    text-align: center;
}
.icn{
    font-size: 40px;
    color: white;
}
.number{
    font-size: 30px;
    font-family:sans-serif;
    margin-top: 5px;
}
.daitm h4{
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
}
.features{
    width:1424px ;
    height: 746px;
    background-color: turquoise;
    margin-top: 70px;
}
.plans{
    width: 1424px;
    height: 650px;
    background-color: orangered;
    margin-top: 70px;
}
.clints{
    width: 1424px;
    height: 656px;
    background-color: mediumslateblue;
    margin-top: 70px;
}
.save{
    width: 1424px;
    height: 326px;
    background-color:  #b1d474;
    margin-top: 70px;
}
.best{
    width: 1424px;
    height: 745px;
    background-color: lightsalmon;
    margin-top: 70px;
}
.blog{
    width: 1424px;
    height: 768px;
    background-color: indigo;
    margin-top: 70px;
}
.touch{
    width: 1424px;
    height: 669px;
    /* background-color: hotpink ; */
    margin-top:50px;
}
.contouch{
    width: 1140px;
    height: 621px;
    /* background-color: yellow; */
    margin: auto;
}
.tobox{
    width: 1140px;
    height: 76px;
    /* background-color:blue; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.toleft{
    width: 50%;
    height: 76px;
    /* background-color: brown; */
}
.toleft p{
    font-size:15px;
    font-family: fantasy;
    color: black;
    padding-right: 30px;
    text-align: right;
    /* background-color: burlywood; */
}
.toright{
width: 50%;
height: 76px;
/* background-color: crimson; */
}
.tfright h6{
    font-size: 25px;
    /* background-color:black; */
    margin:3px;
    letter-spacing: 2px;
    color: rgba(117, 209, 129, 0.993);
    height: 25px;
}
.tsright h3{
    height: 50px;
    font-size: 40px;
    /* background-color: brown; */
    margin: 4px;
    line-height: 60px;
}
.infobo{
    width: 1140px;
    height: 385px;
    /* background-color: darkorchid; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.boleft{
    width: 50%;
    height: 385px;
    /* background-color: darkturquoise; */
}
.boright{
    width: 50%;
    height: 385px;
    /* background-color: darkslateblue; */
}
.frt{
    height: 120px;
    /* background-color: crimson; */
    display: flex;
    flex-wrap: wrap;
}
.ffrt{
    width: 143px;
    height: 97px;
    /* background-color: darkseagreen; */
}
.sfrt{
    width: 427px;
    height: 97px;
    /* background-color: darkturquoise ; */
}
.srt{
    height: 120px;
    /* background-color:darkcyan; */
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;  
}
.fsrt{
    width: 143px;
    height: 97px;
    /* background-color: darkturquoise; */
    margin-top: 20px;
}
.ssrt{
    width: 427px;
    height: 97px;
    /* background-color: deeppink ; */
}
.trt{
    height: 120px;
    /* background-color: darkmagenta; */
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
}
.tfrt{
    width: 143px;
    height: 97px;
    /* background-color: deeppink; */
    margin-top: 20px;
}
.tsrt{
    width: 427px;
    height: 97px;
    /* background-color: darkseagreen; */
}
.ffrt, .fsrt, .tfrt{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}
.sfrt h6, .ssrt h6, .tsrt h6{
    font-size: 25px;
    letter-spacing: 1px;
    color: rgba(117, 209, 129, 0.993);
    margin-top: 0;
    margin-bottom: 20px;
}
.sfrt p, .ssrt p, .tsrt p{
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0;
    font-family:fantasy;
}
.formarea input{
    width: 550px;
    height: 47px;
    font-size: 14px;
    color: #000000;
    background-color: #efefef;
    margin: 5px;
    border: 1px solid #dadada;
    box-shadow: 5px 5px 3px rgb(99, 98, 98);
    border-radius: 10px;
    padding-left: 10px;
 }
.formarea textarea {
    resize: none;
    height:220px;
    width: 550px;
    font-size: 14px;
    color: #000000;
    background-color: #efefef;
    margin: 5px;
    border: 1px solid #dadada;
    box-shadow: 5px 5px 3px rgb(99, 98, 98);
    border-radius: 10px;
    padding-left: 10px;
}
.fbutton{
    width: 500px;
    height: 20px;
    background-color:#b1d474;
    text-align: center;
    margin: 5px 0 5px 16px;
    border: none;
}
.map{
    width: 1424px;
    height: 328px;
    background-color: green ;
}
.footer{
    width: 1424px;
    height: 190px;
    background-color: #b1d474;
    font: bold;
    /* font-size: 18px;
    color: white;
    text-align: center;
    padding: 24px 0;
    letter-spacing: 2px; */
    text-align: center;
}
.ffot{
    font-size: 18px;
    color: white;
    padding: 24px 0;
    letter-spacing: 2px;
    /* background-color: tomato; */
}
.sfot{
    height: 60px;
    /* background-color: turquoise; */
}
.tfot{
    height:60px;
    /* background-color: brown; */
}
.foi{
    font-size: 15px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin:0 10px;
}